.comparator
{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;

    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.comparator.middle_column
{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;

    border-left: none;
    border-right: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.comparator.first_column
{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;

    border-left: 1px solid black;
    border-right: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.comparator.last_column
{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;

    border-left: none;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.comparator img 
{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px dotted grey;
}

.comparator .comparator_link 
{
    text-family: none;
    text-decoration: none;

    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0px;
    margin-bottom: 0px;

    padding-left: 5px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;

    border-left: 1px solid #444;
    border-right: 1px solid #444;
    border-top: 0px;
    border-bottom: 0px;
}

a.comparator_link:hover
{
    background-color: #AFF;
}

.comparator .middle_links 
{
    text-align: center;
}


.comparator .first_link 
{
    float: left
}

.comparator .last_link 
{
    float: right;;
}

.comparator td 
{
    text-align: center;
}


.link_container
{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;

}